# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.envrc

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor files
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Docker
*.log
*.pid
.dockerignore

# Keys and secrets
keys.txt

# Local configuration
*.local
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore requirements lock files if generated
poetry.lock
Pipfile.lock


learn.py